*{
    padding: 0;
    margin: 0;
}
main{
    width: 97%;
    margin: 0px auto;
    /* background-color: rebeccapurple; */
}

h1{
    text-align: center;
    margin: 15px 0px;
}
.prent-ass{
    border: 1px solid black;
    margin: 0px auto;
    padding: 10px 0px;
    text-align: center;
    margin: 15px 0px;
    transition: 0.5s;
}
.prent-ass:hover{
    box-shadow:0px 0px 10px #66ff00bb;
    background-color: #892be247;
}
input{
    width: 140px;
    height: 20px;
    padding: 5px 7px;
    border: 1px solid black;
    border-radius: 4px;
    
}
input:focus{
    outline: none;
}
p{
    font-size: 20px;
    padding-bottom: 14px;
}
button{
    padding: 5px;
    font-size: 15px;
    height:100%;
    padding: 6px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:coral;
    border:1px solid black;
    cursor: pointer;
}
.child{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.output-show{
    margin: 18px auto;
    width: 50%;
    padding: 8px 5px;
    /* border: 1px solid #ff000048; */
    overflow: auto;
    border-radius: 4px;
}